body {
    background-color: #3c3f58;
    color: #ffffff;
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  h1 {
    color: #ffffff;
    text-align: center;
    font-size: 3rem;
  }
  
  #question {
    margin: 2rem 0;
  }
  
  #submitBtn, #playAgainBtn {
    background-color: #6f42c1;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
    margin: 2rem 0;
    cursor: pointer;
    margin: 0 auto;
    display: block;
  }
  
  #submitBtn:hover, #playAgainBtn:hover {
    background-color: #5e35b1;
  }
  
  #imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
  }
  
  #imageContainer img {
    max-width: 100%;
    max-height: 400px;
  }
  